pika
fastapi
sqlalchemy
uvicorn
passlib[bcrypt]
pyjwt
psycopg2-binary
pre-commit
sqladmin
requests
pydantic
pika
pytest
pytest-asyncio
pytest-cov
pydantic[email]
sqlalchemy-utils
httpx
loguru
alembic
